@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    background-color: #000;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color .5s ease;
}

nav ul li:hover {
    background-color: #544f4f;
}



/* .container {} */

.container .show {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.container .content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
    margin: 18px;
    gap: 40px;
}

.container .content .box {
    width: 400px;
    /* background-color: #544f4f; */

}

.container .content .box img {
    width: 400px;
    height: 450px;
    transition: transform .5s ease;
}

.container .content .box .detail {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
}

.container .content .box .detail h3 {
    padding: 10px 0;
}

.container .content .box .detail p {
    font-size: 17px;
    padding: 10px;
}

.container .content .box .detail a {
    margin: 0;
    font-size: 14px;
}

.container .content .box img:hover {
    transform: translateY(-10px);
}

.container .content .box .detail:hover {
    cursor: pointer;
}

/* Icon styling*/
span i {
    padding: 0 10px;
    font-size: 90px;
    color: red;
}

/* About Us note */
.banner {
    width: 600px;
    margin: 70px auto;
    text-align: center;
    font-size: 40px;
}

/* Footer */
.footer {
    padding: 40px;
    position: relative;
    text-align: center;
    background-color: #000;
    font-size: 20px;
}

.footer footer {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 0; */
}

/* Media Query */
@media (max-width: 768px) {
    body {
        font-size: small;
    }

    nav ul {
        display: block;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
}